app_mode = "production" #Anything != production will show DEBUG messages

[App]
IP = "127.0.0.1"
Port = 5001
Logfile = true
Logdir = "/var/log/"

[Database]
# Type can be either postgresql or mysql
Type = "mysql"
# if type if postgres, you can also connect to the DB with a socket file
Host = "127.0.0.1" # can be either an IP address or a socket, it's often /var/run/postgresql/
Username = "sacrebleu"
Password = "superSecretPassword"
Port = "3306"
DB = "sacrebleudatabase"

[DNS]
Nameservers = ns1.example.org., ns2.example.org., ns1.example.com. # Array of NS fqdn. (the first one is the master) 